:root {
  /**
   * Colors
   **/
  --black: #1b0e0e;
  --teal: #095d5d;
  --orange: #cc7b3e;

  /*************************************************************************
   * Typography
   *************************************************************************/

  --ff-normal: "Arvo", serif;
  --ff-title: "Arvo", serif;

  --mult: 1.618;
  --inv: 0.618;
  --fs-400: 1rem;
  --fs-300: calc(var(--fs-400) * var(--inv));
  --fs-500: calc(var(--fs-400) * var(--mult));
  --fs-600: calc(var(--fs-500) * var(--mult));
  --fs-700: calc(var(--fs-600) * var(--mult));
  --fs-800: calc(var(--fs-700) * var(--mult));
}

@media screen and (width < 50rem) {
  :root {
    /* reduce variance in font sizes for mobile screens */
    --mult: 1.309;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*************************************************************************
 * Typography
 *************************************************************************/

.ff-normal {
  font-family: var(--ff-normal);
  line-height: 1em;
}

.ff-title {
  font-family: var(--ff-title);
  line-height: 1em;
}

.fs-800 {
  font-size: var(--fs-800);
  line-height: 1em;
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1em;
}

.fs-600 {
  font-size: var(--fs-600);
  line-height: 1em;
}

.fs-500 {
  font-size: var(--fs-500);
  line-height: 1em;
}

.fs-400 {
  font-size: var(--fs-400);
  line-height: 1em;
}

.fs-300 {
  font-size: var(--fs-300);
  line-height: 1em;
}

body {
  font-family: var(--ff-normal);
  font-size: var(--fs-400);
  font-optical-sizing: auto;
  font-style: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
  font-optical-sizing: auto;
}

h1,
h2 {
  font-size: var(--fs-700);
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  font-family: var(--ff-normal);
  font-weight: 700;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
